.imprint {
  display: grid;
  grid-template-columns: auto;
  place-content: center;
  text-align: center;
}

.imprint-address {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.imprint-captcha {
  max-width: 250px;
}

.imprint > button {
  margin-top: 3em;
  place-self: center;
}

.imprint-censored {
  color: transparent;
  background: white;
  user-select: none;
}
